<div class="header-container">
    <div class="header">
        <div class="header-logo">
            <div class="logo"></div>
            <div class="number">+242 06 908 3535</div>
        </div>
        <div class="language">

            <div class="fr">
                <div class="fr-logo"></div>
                <div class="text">FR</div>
            </div>
            <div class="en">
                <div class="en-logo"></div>
                <div class="text">EN</div>
            </div>
        </div>
        <div class="location">
            <div class="location-title">Your location</div>
            <div class="location-city">
                <div class="city">Douala</div>
                <div class="underline"></div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="catalog">
            <div class="catalog-logo"><img src="../../../assets/images/menu.png" alt=""></div>
            <div class="catalog-text">Catalog</div>
        </div>
        <div class="search">
            <input type="search" placeholder="Search...">
        </div>
        <div class="account">
            <div class="account-logo"></div>
            <div class="account-text">Your account</div>
        </div>
        <div class="cart">
            <div class="cart-logo"></div>
            <div class="cart-text">Your cart</div>
        </div>
    </div>



</div>