.footer-container {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    padding: $global-padding;
    margin-top: 4%;
    .menu {
        display: flex;
        justify-content: space-between;
    }
    .links {
        text-align: left;
        margin-right: 4%;
    }
    .links-title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        margin-bottom: 11%;
    }
    .link {
        margin-bottom: 10px;
    }
    .link a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #BBBBCE;
        text-decoration: none;
    }
    .logs {
        display: flex;
        margin-bottom: 25px;
    }
    .logs .img {
        margin-left: 10px;
    }
    .link-text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #BBBBCE;
    }
}