.header-container {
    .header {
        padding: 0 $global-padding 0 $global-padding;
        display: flex;
        justify-content: space-between;
    }
    .header-logo {
        display: flex;
        width: 75%;
        justify-content: space-between;
        padding-top: 2%;
    }
    .header-logo .logo {
        background: url('../../images/onet-logo.png');
        width: 83px;
        height: 44px;
    }
    .header-logo .number {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
    }
    .language {
        width: 8%;
        border-left: $global-border;
        border-right: $global-border;
        display: flex;
        justify-content: space-between;
        padding: 2% 2% 2% 2%;
    }
    .language .en {
        display: flex;
        justify-content: space-around;
    }
    .language .en .en-logo {
        background: url('../../images/en.png');
        background-size: 100%;
        width: 28px;
        height: 30px;
    }
    .language .fr {
        display: flex;
        justify-content: space-around;
    }
    .language .fr .fr-logo {
        background: url('../../images/fr.png');
        background-size: 100%;
        width: 28px;
        height: 30px;
    }
    .language .text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #30303C;
    }
    .location {
        width: 8%;
        padding: 2% 0 2% 0;
        display: flex;
        flex-direction: column;
    }
    .location-title {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #A0A0B0;
    }
    .location-city {
        display: flex;
        flex-direction: column;
    }
    .location-city .city {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: $primary-color;
        text-decoration: underline #dcdce4;
    }
    .navbar {
        height: 65px;
        background: #434352;
        box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08), 0px 2px 2px rgba(48, 48, 60, 0.12);
        padding: 0 $global-padding 0 $global-padding;
        display: flex;
        justify-content: space-between;
    }
    .catalog {
        width: 25%;
        background-color: #30303c;
        display: flex;
    }
    .catalog-logo {
        width: 40px;
        height: 32px;
        margin: 8% 1% 0 6%;
    }
    .catalog-text {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: #F5F5FA;
        margin: 6.5% 2% 0 0;
    }
    .search {
        width: 47%;
        margin-top: 14px;
    }
    .search input {
        width: 100%;
        height: 70%;
        background: #7A7A8D;
        border-radius: 3px;
        border: 1px #30303c solid;
    }
    .account {
        display: flex;
        justify-content: space-between;
        width: 9%;
        margin-top: 20px;
    }
    .account-logo {
        background: url('../../images/account.png');
        width: 24px;
        height: 24px;
    }
    .account-text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #F5F5FA;
    }
    .cart {
        display: flex;
        margin-top: 20px;
        width: 11%;
    }
    .cart-logo {
        background: url('../../images/round-shopping_cart-24px.png');
        width: 24px;
        height: 24px;
    }
    .cart-text {
        margin-left: 5%;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #F5F5FA;
    }
}