.home-container {
    padding: 0 $global-padding 0 $global-padding;
    display: flex;
    justify-content: space-between;
    .home-catalog {
        width: 25%;
        background: #FFFFFF;
        border: $global-border;
        box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08), 0px 2px 2px rgba(48, 48, 60, 0.12);
        height: $home-hero-height;
    }
    .items {
        height: 47%;
        border-bottom: $global-border;
        padding: 4% 4% 8% 4%;
        display: flex;
        flex-direction: column;
    }
    .items-item {
        display: flex;
        margin: 2%;
    }
    .item-logo {
        margin: 2px 4% 0 0;
    }
    .item-text a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #30303C;
        text-decoration: none;
    }
    .arrivals {
        height: 30%;
        padding: 2% 4% 2% 4%;
        display: flex;
        flex-direction: column;
    }
    .arrivals-text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #A0A0B0;
        margin: 2%;
    }
    .arrivals-item {
        display: flex;
        margin: 2%;
    }
    .arrival-logo {
        margin: 2px 4% 0 0;
    }
    .arrival-text a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #30303C;
        text-decoration: none;
    }
    .hero {
        width: 51%;
        background: url('../../images/hero.png');
        height: 337px;
        background-size: 100%;
        margin-top: 15px;
    }
    .info {
        width: 20%;
        background: #FFFFFF;
        border: 1px solid #E9E9F0;
        box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08), 0px 2px 2px rgba(48, 48, 60, 0.12);
        height: 335px;
        margin-top: 15px;
    }
}