<div class="home-container">
    <div class="home-catalog">
        <div class="items">
            <div class="items-item" *ngFor="let value of items">
                <div class="item-logo"><img src={{value.path}} alt=""></div>
                <div class="item-text"><a href="#">{{value.name}}</a></div>
            </div>

        </div>
        <div class="arrivals">
            <div class="arrivals-text">New arrivals</div>
            <div class="arrivals-item" *ngFor="let value of arrivals">
                <div class="arrival-logo"><img src={{value.path}} alt=""></div>
                <div class="arrival-text"><a href="#">{{value.name}}</a></div>
            </div>
        </div>

    </div>
    <div class="hero"></div>

    <div class="info">
        <div class="info-top">
            <div class="top-logo"></div>
        </div>
        <div class="info-bottom">

        </div>
    </div>
</div>